<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.nebuloss.qr1gen">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
    <application
        android:label="Qr1Gen"
        android:theme="@android:style/Theme.Light"
        android:icon="@mipmap/icon"
        android:name=".App"
    >
        <activity android:name=".QrCodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ExportActivity" />
        <activity android:name=".ImportActivity" />
    </application>
</manifest>